.box-container {
  height: 50vh;
  border: 1px solid black;
}
#box-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: rgb(174, 238, 217, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  /* trnsition: 변한 속성 애니메이션 시간; */
  transition: 5s cubic-bezier(0, -0.31, 0, 0.52);
}
.box:hover {
  background-color: rgb(241, 241, 115, 0.8);
  /* transform: 변형함수(); */
  /* scale : 지정한 크기만큼 확대/축소 하는 함수  */
  transform: scale(2);
  /* rotate : 지정한 각도만큼 회전시키는 함수  */
  transform: rotate(30deg);
  /* skew : 지정한 각도만큼 비틀어 왜곡하는 함수 */
  transform: skew(30deg);
  transform: skewY(-30deg);
  /* translate : x축,y축,z축 방향으로 이동시키는 함수  */
  transform: translateX(100px);
  transform: translate(100px, 200px);
  /* 같이도 사용가능  */
  transform: scale(1.5) rotate(15deg);
  /* transform-orign : 변형의 기준점을 변경하는 속성  */
  transform-origin: left top;
  transform-origin: right bottom;
}
